.logo{
  background: #219653;
  width: 100%;
  height: 250px;
  text-align: center;
  padding-bottom: 100px;
}
.logo img {
  width: 170px;
  height: 80px;
  margin-top: 40px;
}

.content{
  position: absolute;
  margin-top: 150px;
  background: white;
  width: 100%;
  height: 100%;
  border-radius:40px 40px 0 0;

  h4{
    text-align: center;
    color:black;
  }
}

.inputDaftar{
  margin-top: 20px;
  width: 90%;
  min-height: 400px;
  text-align: center;
  margin: auto;

  .input{
    --background:#f2f2f2;
    margin-bottom: 15px;
    color: black;
    border-radius:10px;
    width: 100%;

    ion-label{
      color: grey;
    }
  }

  ion-button{
    width: 100%;
    height: 50px;
    --background: #219653;
    color:black;
    --border-radius: 20px;
    margin-top: 50px;
  }
}

  .login{
    text-decoration: none;
    color: #219653;
    padding-bottom: 0px;
    margin-left: 5px;
  }
