<ion-tabs>

  <ion-tab-bar slot="bottom" horizontal="center">

    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifikasi">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifikasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<div class="fab">
  <ion-fab edge slot="fixed" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
      <p>Lapor</p>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="takeGallery()">
        <ion-icon name="images-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
